$color-primary:#fff;
$text-primary:#222222;
$content-color:#373738;
$icons-color:#dc000e;
$color-main:#002147;

@import url(https://https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap);

